name: Python Script Workflow

on: push

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
        
      - name: Install dependencies
        run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt

      - run: echo " Run a Script "
      - name: Run Robot Framework tests
        run: robot --outputdir end-to-end/ /tests
        # run: chmod +x ./run.sh
        # shell: bash

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
        
      - name: Install dependencies
        run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt

      - run: echo " Run a Script "
      - name: Run Robot Framework tests
        run: robot --outputdir end-to-end/ /tests
       # run: ./run.sh

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
        
      - name: Install dependencies
        run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt

      - run: echo " Run a Script "
      - name: Run Robot Framework tests
        run: robot --outputdir end-to-end/ /tests
        # run: chmod +x ./run.sh
        # shell: bash